
.product-desc{
	color: #000;
	font-size: 18px;
	font-weight: bold;
	
}

.single-filter{
	display: inline-flex;
	margin: 0px 20px;
}

.field-category{
	color: #999;
	padding-left: 10px;
}



.check-field{
	color: #999;
	border-color: #999;
}

.product-filter{
	margin: 40px 0px 10px 0px;	

	>.container{
		align-items: baseline;
		border-bottom: solid 1px #999;
		display: flex;
		margin-bottom:4px;
		padding-bottom: 15px;
	}
}

.button{
	background-color: #2e2e2e;
	border: solid 1px black;
	color: white;
	font-size: 13px;
	height: 40px;
	margin-left:auto;
	padding:10px 10px;
	text-transform: uppercase;
	font-weight: bold;
	
}