.main-footer{
	clear: both;
	

	.banner-footer {
		background-image: url("/images/banner.png");
		background-repeat: no-repeat;
		background-size: 100%;
		

		&:before {
			content: "";
			display: block;
			padding-top: 33.14%;
		}
	}
	
	.copyrights{
		font-size: 10px;
		text-align: center;
	}
}

