	.main-footer{
	clear: both;
	

	.banner-footer {
		background-image: url("/images/banner-footer.png");
		background-repeat: no-repeat;
		background-size: 100%;
		

		&:before {
			content: "";
			display: block;
			padding-top: 33.14%;
		}
	}
	
	.copyrights{
		color: #999;
		display: inline-flex;
		font-size: 10px;
		margin-left: 50%;
		padding: 10px 0px; 
		text-align: center;
		transform: translate(-50%);
	}	
}

