mainHeaderHeight = 50px;

.main-header {
	clear: both;

	.wrapper,
	.container {
		height: mainHeaderHeight;
	}

	.wrapper,
	.list {
		background-color: white;
	}

	.wrapper {
		border-bottom: solid 1px #eee;
		left: 50%;
		position: fixed;
		transform: translateZ(0) translateX(-@left);
		width: 100%;
		z-index: 2;
	}

	.container {
		align-items: stretch;
		display: flex;
	}

	.logo {
		align-self: center;
		margin-left: 10px;
		
	}

	.menu-button {
		buttonWidth = 50px;
		background-image: url("/images/menu.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50%;
		border-left: solid 1px #eee;
		height: 100%;
		overflow: hidden;
		position: relative;
		width: buttonWidth;
		z-index: 2;

		label {
			height: 100%;
			left: 0;
			padding-left: buttonWidth;
			position: absolute;
			top: @left;
			width: @height;
		}
	}
	
	.link{
		color: #000;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.banner {
		background-image: url("/images/banner.png");
		background-position: 0 mainHeaderHeight;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: mainHeaderHeight;

		&:before {
			content: "";
			display: block;
			padding-top: 33.14%;
		}
	}
	
	#open-menu {
		display: none;
	}
	

	.cart {
		align-self: center;
		img{
			width:20px;
		}	
	}
	
	@media screen and (max-width: 1149px){
		.main-nav {
			margin-left: auto;

			#open-menu {

				&:checked {
					& ~ .list {
						opacity: 1;
						transform: scaleY(1);
						visibility: visible;
					}

					& ~ .menu-button {
						background-image: url("/images/close.svg");
						background-size: 40%;
					}
				}
			}

			.link {
				border-bottom: solid 1px #eee;
				display:block;
				padding: 15px 30px;
			}
		}

		.logo {
			margin-right: auto;
		}

		.list {
			opacity: 0;
			position: absolute;
			right: 0;
			top: mainHeaderHeight;
			transform-origin: top;
			transform: scaleY(0);
			transition: .3s transform, .3s opacity;
			visibility: hidden;
			z-index: -1;
		}
		
		.cart{
			margin: 20px 10px;
			border-left: solid 1px #eee;
			padding: 13px 0px 13px 13px
		}

	}

	@media screen and (min-width: 1150px){
		.list{
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: space-around;
			width: 450px;

		}
				

		.menu-button {
			display: none;
		}
		
		.logo {
			margin-right: 20px;
		}
		
		.cart{
			margin-left: auto;
		}
		

	}
}
