mainHeaderHeight = 70px;
buttonWidth = 50px;

.main-header {
	clear: both;

	.wrapper,
	.container {
		height: mainHeaderHeight;
	}

	.wrapper,
	.list {
		background-color: white;
	}

	.wrapper {
		border-bottom: solid 1px #eee;
		left: 50%;
		position: fixed;
		transform: translateZ(0) translateX(-@left);
		width: 100%;
		z-index: 2;
	}

	.container {
		align-items: stretch;
		display: flex;
	}

	.logo {
		align-items: center;
		display: flex;
		margin-left: 10px;
	}

	.menu-button {
		background-image: url("/images/menu.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50%;
		border-left: solid 1px #eee;
		height: 100%;
		overflow: hidden;
		position: relative;
		width: buttonWidth;
		z-index: 2;

		label {
			height: 100%;
			left: 0;
			padding-left: buttonWidth;
			position: absolute;
			top: @left;
			width: @height;
		}
	}

	.link{
		color: #000;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.banner {
		background-image: url("/images/banner.png");
		background-position: 0 mainHeaderHeight;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: mainHeaderHeight;

		&:before {
			content: "";
			display: block;
			padding-top: 33.14%;
		}
	}

	#open-menu {
		display: none;
	}

	.second-nav {
		align-items: center;
		display: flex;

		#open-cart {
			display: none;
		}

		.list-cart{
			display: none;
		}

		img{
				width:20px;
		}

		.cart-button {
			height: 100%;
			overflow: hidden;
			position: relative;
			width: buttonWidth;
			z-index: 2;
		}

		#open-cart {

			&:checked {
				& ~ .list-cart {
					background-color: #fff;
					border: solid 1px #eee;
					display: flex;
					position: absolute;
					top: mainHeaderHeight;
					transform: scaleY(1);
					visibility: visible;
				}

			}

			.list-cart{
				transform-origin: top;
				transform: scaleY(0);
				transition: .3s transform, .3s opacity;
				visibility: hidden;
			}
		}
	}

	@media screen and (max-width: desktop){
		.main-nav {
			margin-left: auto;

			.list {
				box-shadow: 0 4px 10px -2px rgba(0,0,0,.6);
			}

			#open-menu {

				&:checked {
					& ~ .list {
						opacity: 1;
						transform: scaleY(1);
						visibility: visible;
					}

					& ~ .menu-button {
						background-image: url("/images/close.svg");
						background-size: 40%;
					}
				}
			}

			.link {
				border-bottom: solid 1px #eee;
				display:block;
				padding: 15px 30px;
			}
		}

		.logo {
			margin-right: auto;
		}

		.list {
			opacity: 0;
			position: absolute;
			right: 0;
			top: mainHeaderHeight;
			transform-origin: top;
			transform: scaleY(0);
			transition: .3s all;
			visibility: hidden;
			width: 100%;
			z-index: -1;
		}

		.second-nav{
			border-left: solid 1px #eee;
		}
	}

	@media screen and (min-width: (desktop+1)){
		.wrapper {
			box-shadow: 0 -1px 10px rgba(0,0,0,.6);
		}

		.list {
			align-items: center;
			display: flex;
			height: 99%;
			justify-content: center;
			justify-content: center;
			width: 450px;
		}

		.item {
			display: table;
			height: 100%;
			width: 100px;
		}

		.link {
			display: table-cell;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			vertical-align: middle;

			&:after {
				background-color: black;
				content: '';
				display: block;
				height: 100%;
				opacity: 0;
				position: absolute;
				top: 0;
				transform: translateY(100%);
				transition: .4s transform, .4s opacity;
				width: @height;
			}

			.content {
				position: relative;
				z-index: 1;
			}

			&:active,
			&:hover {
				&:after {
					opacity: 1;
					transform: translateY(0);
				}

				.content {
					color: white;
				}
			}
		}

		.menu-button {
			display: none;
		}

		.logo {
			margin-right: 20px;
		}

		.cart{
			margin-left: auto;
		}

		.second-nav{
			margin-left: auto;
		}
	}
}
