.products{
	
// 	display: inline-block;
// 	width: 200px;
	
// 	.banner{
// 		display: inline-block;
// 		margin-left: 50%;
// 		transform: translateX(-@margin-left);
// 	}
	
	.product-wrapper{
		
		display: inline-block;
		width: 300px;

		
// 		margin-left: 50%;
// 		transform: translateX(-@margin-left);
// 		width:80%;
	}

	
}

.products-title{
	padding-top: 70px;
	padding-bottom: 20px;
}
