@charset "UTF-8";

// @import '_sprite';
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/styl-easing/_easings';

@import 'fonts/_fonts';

@import 'modules/**/*';

.chuteira{
	color: #000;
	font-size: 18px;
	font-weight: bold;
	
}

.container-filtros{
	display: inline-flex;
	margin: 0px 20px;
}

.categoria-filtro{
	color: #999;
	padding-left: 10px;
}



.check-filtro{
	color: #999;
	border-color: #999;
}

.filter>.wrapper>.container{
	border-bottom: solid 1px #999;
	margin-bottom:4px;
}